<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />    
    <link href="/static/css/search.css" rel="stylesheet" />    
  	<script src="/static/js/jquery.min.js"></script>
  	<script src="/static/js/bootstrap.min.js"></script>    
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sherlock at IMF</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/search/">Advanced Search</a>
                    </li>
                    <li>
                        <a href="/similarity/">Search Embeddings</a>
                    </li>
                    <li>
                        <a href="/embeddings-sense-cbow/">Visualize Embeddings</a>
                    </li>
                </ul>               
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <h2>TEST</h2>
    <center><h2>Search IMF Working Papers (2000-2016)</h2></center>
        <form class="form-horizontal" action="/search/" method="POST" role="form">            
            <div class="input-group" id="adv-search">
                <input type="text" name="textinput" class="form-control" placeholder="Enter keyword or click the down arrow for advanced options ..." />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            </form>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form" action="/advanced-search/" method="POST">
                                  <div class="form-group">
                                    <label for="filter">Order by:</label>
                                    <select class="form-control" name="filter">
                                        <option value="0" selected>Tf-idf</option>
                                        <option value="1">LSI (400 Factors)</option>
                                        <option value="2">LDA (100 Topics)</option>
                                        <option value="3">IMF2Vec</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Title</label>
                                    <input class="form-control" type="text" name="title"/>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Author</label>
                                    <input class="form-control" type="text" name="author"/>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Keywords</label>
                                    <input class="form-control" type="text" name="all"/>
                                  </div>
                                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% if title|string() != "" %}
    <center>Displaying results for "{{title}}"</center>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                  <ul class="nav nav-sidebar">
                    <li><a href="/apply-range/?begin=2000&end=2017">Anytime</a></li>
                    <li><a href="/apply-range/?begin=2016&end=2017">Since 2016</a></li>
                    <li><a href="/apply-range/?begin=2013&end=2017">Since 2013</a></li>
                    <li><a href="/apply-range/?begin=2010&end=2017">Since 2010</a></li>
                    <li><a href="#">Custom range ...</a></li>
                    <li>
                        <form action="/apply-range/" method="GET">
                        <input class="range" type="text" name="begin"/>
                        <input class="range" type="text" name="end"/>
                        <button type="submit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </form>
                    </li>
                    <li>
                        <hr>
                        <h4>&nbsp;&nbsp;Experts</h4>
                        {% for a, s in authors[:15] %}
                        <a href="/view-expert/?id={{ a.strip() | safe() }}" target="_blank">{{ a.strip() | safe() }}</a>
                        {% endfor%}
                    </li>
                  </ul>
                </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
               <div class="table-responsive">
                <table class="table table-hover">
                      <tbody id="myTable">
                        {% for ix, row in table.iterrows() %}
                        <tr>
                        <td>
                        <a href="/view-doc/?id={{ row['ID'] | int }}" target="_blank"><h3>{{ row.title }}</h3></a>
                        <strong><i>
                            {% for a in row.Authors.split(';') %}
                            <a href="/view-expert/?id={{ a.strip() | safe() }}" target="_blank">{{ a.strip() | safe() }}</a>
                            ;
                            {% endfor %}
                        </i></strong>
                        <br>
                        <strong><i>{{ row.subject | safe() }}</i></strong>
                        <br>
                        <strong>Publication Year: <i>{{ row.issue | int }}</i></strong>
                        <br>
                        {{ row.Sentence | safe() }}
                        <br>
                        <p><strong>Summary:</strong>
                        {{ row.summary | safe() }}</p>
<!--                         <p><strong>Index:
                        {{ row.FileName | safe() }}</strong></p>
                        <p><strong>Score:
                        {{ row.Score | safe() }}</strong></p>
                        <p><strong>TF:
                        {{ row.TF | safe() }}</strong></p>
                        <p><strong>DF:
                        {{ row.DF | safe() }}</strong></p>
                        <p><strong>IDF:
                        {{ row.IDF | safe() }}</strong></p>
                        <p><strong>TFIDF:
                        {{ row.TFIDF | safe() }}</strong></p>
                        <p><strong>Count:
                        {{ row.Count | safe() }}</strong></p>
                        <p><strong>Unique:
                        {{ row.Unique | safe() }}</strong></p>
 -->                        </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
              <div class="col-md-12 text-center">
              <ul class="pagination" id="myPager"></ul>
              </div>         
              <script src="/static/js/pagination.js"></script>
    </div>
    {% endif %}
</body>
</html>
